!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Music Hounds
    %link{:href => "sp://import/css/eve.css", :rel => "stylesheet"}/
    %link{:href => "sp://import/css/shared.css", :rel => "stylesheet"}/
    %link{:href => "sp://import/css/api.css", :rel => "stylesheet"}/
  %body
    #header
      %h1 Music Hounds
      #notifcations
        / spotify:app:musichounds
    #content
      #stage
        #CreateGame
          %h2 Create New Game
          .new_game_param
            %label Styel
            %select#ngpStyle
              %option{:value => ''} Any
              %option{:value => 'bluegrass'} Bluegrass
              %option{:value => 'country'} Country
              %option{:value => 'dance'} Dance
              %option{:value => 'grunge'} Grunge
              %option{:value => 'old school'} Old School
              %option{:value => 'pop'} Pop
              %option{:value => 'punk'} Punk
              %option{:value => 'r&amp;b'} R&B
              %option{:value => 'rock'} Rock
              %option{:value => 'ska'} Aka
              %option{:value => 'soul'} Soul
          .new_game_param
            %label Artist
            %select#ngpStyle
              %option{:value => ''} Any
              %option{:value => 'Kylie Minogue'} Kylie Minogue
              %option{:value => 'Madonna'} Madonna
              %option{:value => 'Lil Wayne'} Lil' Wayne
              %option{:value => 'Drake'} Drake
              %option{:value => 'Young Jezzy'} Young Jezzy
              %option{:value => 'Tribe Called Quest'} A Tribe Called Quest
              %option{:value => 'Rihanna'} Rihanna
              %option{:value => 'Billy Joel'} Billy Joel
              %option{:value => 'Bon Jovi'} Bon Jovi
              %option{:value => 'Adele'} Adele
              %option{:value => 'Whitney Houston'} Whitney Houston
              %option{:value => 'Kelly Clarkson'} Kelly Clarkson
              %option{:value => 'Nicki Minaj'} Nicki Minaj
              %option{:value => ''} Any
          %button#btnCreateGame{:class => "new-button"} Create New Game
        #JoinGame
          %table#LobbyGameTable
            %tr
              %td Room Name
              %td Artist / Genre
              %td 
                Current 
                %br/
                Round
              %td 
                High 
                %br/
                Score
            %tr
              %td The best room ever! 
              %td A: Madonna
              %td 1
              %td 0
            %tr
              %td Hot like Fiya! 
              %td G: Hip Hop
              %td 1
              %td 0



            
    #footer
      #powered
        Powered by EchoNest, Pusher & Spotify
      #creator
        Created by Abel Martin from Jingle Punks

    %script#TMPCreateGame{:type => "text/x-jquery-tmpl"}
      
    / -- [0] Required libraries
    %script{:src=>"sp:/js/req/jquery-1.7.1.min.js"}
    %script{:src=>"sp:/js/req/underscore-1.3.1.min.js"}
    %script{:src=>"sp:/js/req/mustache-0.4.2.js"}
    %script{:src=>"sp:/js/req/backbone-0.9.1.min.js"}
    %script{:src=>"sp:/js/req/pusher-1.11.min.js"}

    / -- [1] API Keys
    %script{:src=>"sp:/js/app/api_keys.js"}

    / -- [2] Models
    / -- [3] Collections
    / -- [4] Views
    / -- [5] Writers


    :javascript 
      $(function(){
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) window.console.log(message);
        };

        // Flash fallback logging - don't include this in production
        //WEB_SOCKET_DEBUG = true;

        var pusher = new Pusher('f741395dd9ac3fcd542b');
        var channel = pusher.subscribe('test_channel');
        channel.bind('my_event', function(data) {
          <!--alert(data);-->
          $("#notifcations").html(data);
        });

        var sp = getSpotifyApi(1);
        var sp_models = sp.require('sp://import/scripts/api/models');
        if (localStorage.getItem("user_guid") == null){
          localStorage.setItem( "user_guid", guid() );
        }

        var u_guid = localStorage.getItem("user_guid");
        console.log( u_guid );
        $("#btnCreateUser").click( createUser );
      });

      //I got the GUID code from StackOverflow
      //http://stackoverflow.com/questions/7940616/what-makes-this-pseudo-guid-generator-better-than-math-random
      function S4() {
         return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
      }

      function guid() {
         return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
      }
      
      //This really has no business being here, but I need it for testing. 
      function createUser(){
        alert("within createUser call");
        var u_guid = localStorage.getItem("user_guid");
        var player_name = "player" + u_guid.split('-')[0];
        $.ajax({
          url: "http://mhbackend.heroku.com:3000/users.js",
          data: {
            user: {guid: u_guid, name: player_name}
          },
          dataType: "json",
          type: "POST",
          success: function(){ alert("we got back data"); }
        });
      }
